*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
    height: 100%;
}

.container{
    color : white;
    fotn-size : 14px;
    background-image: url('../../Image/mac_background3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    /* height: 833px; */
    height: 100vh;
}

.container article{
}
.container .hero{
    border-bottom: 1px solid rgba(46, 45, 45, 0.671);
    background-color: rgba(46, 45, 45, 0.671);
    padding: 10px;
}
.container .hero h2{
    text-align: center;
    padding: 5px;
    color: white;
}
.container .hero .faq-btn{
    float : right;
    margin: 5px 20px;
    border : 1px solid white;
    padding: 5px;
    margin-top : -5px;
}
.container .hero .faq-btn:hover{
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}


/* 
 * MODAL AND FAQ 
 *
*/
.modal{
    position : fixed;
    background-color : rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display : none;
    z-index: 100;
}
.modal-content{
    background-color: #FFEB60;
    width: 800px;
    border-radius : 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 15 rgba(0, 0, 0, 0.15);
    text-align : center;
    color: black;
}
.modal-content .btn-close{
    position: absolute;
    top: 15px;
    right: 15px;
}

.faq {
    
}
.faq-inner{
    width: 750px;
    margin: auto;
}
.faq-inner h1{
    text-align : center;
    margin-top: 0px;
    margin-bottom: 10px;
}
.accordion{}
.accordion-item{
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    margin-bottom: 17px;;
}
.accordion-item .title{
    font-weight: bold;
    cursor: poiner;
}
.accordion-item .title:after{
    content : '>';
    transform: rotate(90deg);
    float: right;
    transition: 0.5s;
    margin-top: -2px;
}
.accordion-item .title.active{
    padding-bottom: 15px;
}
.accordion-item .title.active:after{
    transform: rotate(270deg);
}
.accordion-item .content{
    border-top: 1px solid #000;
    font-size : 16px;
    padding-top: 15px;
    display : none;
}

.container .palette{
    height: 600px;
    height: 80vh;
    border-top : none;
    position: relative;

}
.container .palette .box{
    /* position: absolute;
    top : 20px;
    left : 20px; */
    position: relative;
    display : inline-block;
    text-align: center;
    margin: 20px 10px;
    z-index: 10;
}
.container .palette .box .iconImage{
    width : 70px;
    height: 70px;
    overflow: hidden;
}
.container .palette .box .boxTitle{
    display: block;
    font-size: 12px;
}
.container .palette .box:hover {
    cursor: pointer;
    opacity: 1;
}
.container .palette .box.click{
    /* background-color: dodgerblue; */
    opacity: 0.5;
}
.container .palette .infoBoxContainer{
    position: absolute;
    top : 0;
    right : 0;
    display : block;
}
.container .palette .infoBox{
    display :none;
    border: 1px solid white;
    position: absolute;
    width: 200px;
    top : 0;
    right : 200;
    color: white;
    z-index: 10;
    border-radius: 10px;
}
.container .palette .infoBox.show{
    display : block;
}
.container .palette .infoBox div{
    padding: 15px 20px;
    border-bottom: 1px solid white;
}
.container .palette .infoBox div:last-child{
    border-bottom: none;
}
.container .palette .infoBox div:hover{
    background-color: rgb(8, 8, 8);
    color: white;
}

.container .program{
    display: block;
    border : 1px solid white;
    z-index: 1;
    top: 10;
    left: 30%;
    width: 700px;
    position: absolute;

    overflow : hidden;
    border-radius: 10px;
}
.container .program .top{
    border-bottom: 1px solid white;
    padding: 10px 20px;
    display : flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: white;
}
.container .program .top span{
    display: inline-block;
    font-size : 14px;
}
.continaer .program #closeBtn{
    cursor: pointer;
    font-weight : bold;
}
.container .program .content{
    padding: 20px;
    border-bottom: 1px solid white;
    height: 400px;
    background-color: rgba(141, 137, 137, 0.712);
}
.container .program .bottom{
    padding: 5px;
    font-size : 14px;
    float : right;
}

.container .footer{
    height: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    border-radius: 20px;
    border : 1px solid rgba(148, 143, 143, 0.671);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.container .footer .docIcon{
    width : 100px;
    height : 100px;
    padding: 10px 20px ;
    text-align: center;
    transition: 0.5s;
    display: block;

}
.container .footer .docIcon:hover{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(0.8);
}

.container .footer .docIcon .imageBox{
    width : 95%;
    text-align: center;
}
.container .footer .docIcon span{
    
}



